/* You can add global styles to this file, and also import other style files */
$size: 200px;
$leaf-color: #7DAE41;
$trunk-color: #855726;
$bg: #0C1E42;
//------------------------------------------


html,body {
	//height: 100%;
  background-color: #b33;
  text-align:center;
}
